header {
    margin: 0 auto;
    width: 940px;
    background-color: rgb(0, 61, 0);
    position: relative;
    padding: 15px;
    /* margin: 20px; */
    display: flex;
}
.pesquisar {
    background-color: white;
    float: left;
    font-weight: normal;
    padding: 5px;
    border-radius: 10px;
    margin: 15px 10px 10px 10px; 
    width: 300px;
}

.pesquisar input{
    vertical-align: middle;
}
.pesquisar input[type=search]{
    width: 270px;
}
#campo-busca{
    border-radius: 10px;
}

#menu {
    position: absolute;
    right: 0;
    top: 15px;
    padding: 15px;
    color: antiquewhite;
}

#menu ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 600;
    margin: 0px;
    list-style: none;
    text-align: center;
}
#menu a{
    text-decoration: none;
    color: antiquewhite;
}
#menu a:hover{
    text-decoration: underline;
    color: goldenrod;
    cursor: pointer;

}
#menu ul li {
    display: inline-block;
    margin-inline-start: 10px;
}

.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.0em;
    padding: 0.8em;
}
h1{
    font-size: 3.0em;
    color: #532C23;
}
h2{
    font-size: 2.0em;
    color: #532C23;
}
.container {
    margin: 0 auto;
    width: 940px;
}
.container a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#banner,
#lancamentos{
    background-color: rgb(253, 247, 239);
    display: block;
    clear: both;
    margin: 0 auto;
}
.imagens-evento{
    padding-left: 25px;
}
#cinema{
    display: inline;
}
#cinema img{
    width: 24%;
    height: 24%;
}
#teatro{
    display: inline;
}
#teatro img{
    width: 24%;
    height: 24%;
}
#shows{
    display: inline;
}
#shows img{
    width: 24%;
    height: 24%;
}
footer{
    background-color: rgb(0, 61, 0);
    color: antiquewhite;
    padding: 15px 0 15px 0;
    clear: both;
    text-align: center;
    width: 940px;
    margin: 0 auto;
}
footer a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.caixa-footer p{
    font-size: 1.5em;
    /* padding: 5px; */
}
.fab{
    padding-right: 15px;
}